fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
langchain
langchain-openai
langchain-core
langchain-community
langchain-elasticsearch
langchain-text-splitters
langchain-huggingface
sentence-transformers
openai
structlog
httpx
tenacity
kafka-python>=2.0.2
